.fileSection{
	position:relative;

}
.addFile{
  width: 100%;
  height: 100%;
  cursor: pointer;
}


.file-input-wrapper {
	margin:auto;
	width: 200px;
	height: 50%;
	overflow: hidden;
	position: relative;
}
.file-input-wrapper > input[type="file"] {
	font-size: 200px;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
  cursor: pointer;
}
.file-input-wrapper > .btn-file-input {
	display: inline-block;
	width: 200px;
	height: 40px;
    background: #3DBAD9;
    color: white;
    outline: none;
    border: none;
}

.profileFileUpload{
	cursor:pointer;
}

#uploadedImage{
	max-height:400px;
	max-width:400px;
}

.imageSection{
	margin-bottom:10%;
	margin-top:10%;
	text-align:center;
}



.emptyLabel{
  font-size:150%;
  text-align: center;
  color:lightgray;

}
.uploadSection{
  opacity: 0;
  display: none;
  transition: 0.5s all;
  position: fixed;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
}
.uploadCover{
  display: block;
    opacity: 1;
}
.fileSection{
  width:300px;
  height:300px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position: absolute;
  margin:auto;
}

.uploadBox{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position: absolute;
  margin:auto;
  width:50vw;
  height: 80vh;
  background: white;
}

.uploadButtonSection{
  width:140px;
  position:absolute;
  bottom: 100;
  left:0;
  right:0;

  margin:auto;
}

.checkbox{
  outline:none;
}
.checkbox:focus{
  outline: none !important;
}
body{
  overflow-x: hidden;
}
.formGroupSection{
  position:absolute ;
  top:0;
  left:0;
  background: white;
  width: 100vw;
  height: 100vh;
  opacity:0;
  transition:0.5s all;
  z-index: -1;
}
.overlay{
  opacity:1;
  z-index: 1;
}

.passedBtn{
  border:none !important;
  color:lightgray !important;
}

.materialList,
.assList{
  border-bottom: 1px solid lightgray;
  height:110px;
  width:100%;
  position:relative;
}
.assList{
  min-height: 140px;
}
.materialName{
  width:60%;
  float:left;
  position:relative;
  line-height: 100px;
  vertical-align: middle;
  padding-left:20px;
}
.assName,
.assDescription,
.assDate{
  width:60%;
  float:left;
  position:relative;
  padding-left:20px;
  padding-top:0px;
  word-wrap: break-word;
}
.assDescription{
  font-size:0.85em;
}
.assDate{
  font-size:0.85em;
  color:lightgray;
}

.assName{
  padding-top:25px;
  font-weight: bold;
}

.downloadBtn,
.kanbanBtn,
.defaultBtn,
.submitBtn,
.primaryBtn{
  float:right;
  position:relative;
  border:none;
  background: transparent;
  border:1px solid lightgray;
  padding:5px;
  color:gray;
  cursor:pointer;
  margin-top:40px;
  transition:1s all;
  outline:none;
}
select{
  float:right;
  position:relative;
  padding:5px;
  color:gray;
  cursor:pointer;
  margin-top:40px;
  transition:1s all;
  outline:none;
}

.kanbanBtn,
.defaultBtn,
.submitBtn,
.primaryBtn{
  margin-top:0;
}
.submitBtn,
.primaryBtn{
  border: 1px solid #4480c2;
  color:#4480c2;
}
.downloadBtn:hover,
.kanbanBtn:hover,
.defaultBtn:hover{
  background: lightgray;
  color:white;
}
.submitBtn:hover,
.primaryBtn:hover{

  background: #4480c2;
  color:white;
}
li{
      font-size: inherit !important;
}
.nav-tabs>li.active>a,
.nav-tabs>li>a{
    font-size:100%;
}
.nav-tabs{
  width:100%;
  border:none !important;
}
.nav{
  margin-top:10%;
}
.courseInfo{
    color:#adadad;
}
.backBtn{
  border:none;
  color:#4480c2;
  border:1px solid #4480c2;
  background:transparent;
  padding:10px 10px;
  cursor:pointer;
  opacity:0.7;
  transition:1s all;
   outline:none;
  margin-bottom: 20px;

}
.findCourseBtn{
    border:none;
    color:#4480c2;
    border:1px solid #4480c2;
    background:transparent;
    border-radius: 20px;
    padding:20px 30px;
    cursor:pointer;
    opacity:0.7;
    transition:1s all;
     animation: grow 3s infinite;
     outline:none;
}
.findCourseBtn:hover{
  background: #4480c2;
  color:white;

}

.buttonSection{
  text-align: center;
}


@keyframes grow {
    0%   {
        transform: scale(1);
    }
    25%  {
      transform: scale(1.1);
    }
    50%  {
      transform: scale(1);
    }
    75%  {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}


.form-group {
    text-align: center;
    margin-bottom: 5%;
}
.form-group input, .form-group select, .form-group textarea{
    color: #8f9299 ;
    width: 30%;
    transition:0.5s all;
    margin: auto;
    padding: 1%;
    border-radius: 5px;
    box-sizing:border-box;
    outline:none;
    border: 1px solid lightgray;

}
.form-group input:focus{
  width:80%;

}


.searchBtn{
  background: transaprent;
  border:none;
  background-color:transparent;
  color:gray;
  outline:none;

}
.courseContent{
  margin-top:0%;
  margin-bottom: 5%;
}
.courseList
{
  cursor:pointer;
  transition:1s all;
  width:100%;
  margin:auto;
  position:relative;
  height:100px;
  margin-top:10%;
  border-bottom: 1px solid #efefef;
}

.listContent{
  width:80%;
  float:left;
  position:relative;
  color:#adadad;
  padding-left:5%;

}
.listAction{
  width:15%;
  float:left;
  position:relative;
}
.listContent p{
  margin-top:5px;
}
.noResult{
  text-align: center;
  color:lightgray;
  font-size:150%;
}
.enrollBtn,
.viewCourseBtn{
  margin-top:20px;
    border:none;
    color:#4480c2;
    border:1px solid #4480c2;
    background:transparent;
    border-radius: 5px;
    padding:10px 15px;
    cursor:pointer;
    opacity:0.5;
    transition:1s all;
     animation: grow 3s infinite;
     outline:none;
}
.enrollBtn:hover,
.viewCourseBtn:hover{
  background: #4480c2;
  color:white;

}
